
RusDictionary/obj/Debug/RusDictionary.pdb
RusDictionary/obj/Debug/RusDictionary.csprojAssemblyReference.cache
RusDictionary/.vs/RusDictionary/v16/.suo
RusDictionary/bin/Debug/RusDictionary.exe
RusDictionary/bin/Debug/RusDictionary.exe
RusDictionary/bin/Debug/RusDictionary.pdb
RusDictionary/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RusDictionary/obj/Debug/RusDictionary.csproj.CoreCompileInputs.cache
RusDictionary/obj/Debug/RusDictionary.csproj.GenerateResource.cache
RusDictionary/obj/Debug/RusDictionary.csprojAssemblyReference.cache
RusDictionary/obj/Debug/RusDictionary.exe
RusDictionary/obj/Debug/RusDictionary.pdb
RusDictionary/.vs/RusDictionary/v16/.suo
RusDictionary/bin/Debug/RusDictionary.exe
RusDictionary/bin/Debug/RusDictionary.pdb
RusDictionary/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RusDictionary/obj/Debug/RusDictionary.csproj.CoreCompileInputs.cache
RusDictionary/obj/Debug/RusDictionary.csproj.GenerateResource.cache
RusDictionary/obj/Debug/RusDictionary.csprojAssemblyReference.cache
RusDictionary/obj/Debug/RusDictionary.pdb
RusDictionary/obj/Debug/RusDictionary.exe
*.exe
*.pdb
*.cache
